---
apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: postgres
    namespace: database
    labels:
        app: postgres
        component: database
spec:
    serviceName: postgres
    replicas: 1
    selector:
        matchLabels:
            app: postgres
    template:
        metadata:
            labels:
                app: postgres
                component: database
        spec:
            containers:
                - name: postgres
                  image: postgres:15-alpine
                  ports:
                      - containerPort: 5432
                        name: postgres
                  env:
                      - name: POSTGRES_USER
                        valueFrom:
                            secretKeyRef:
                                name: postgres-secret
                                key: POSTGRES_USER
                      - name: POSTGRES_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: postgres-secret
                                key: POSTGRES_PASSWORD
                      - name: POSTGRES_DB
                        valueFrom:
                            secretKeyRef:
                                name: postgres-secret
                                key: POSTGRES_DB
                      - name: PGDATA
                        valueFrom:
                            configMapKeyRef:
                                name: postgres-config
                                key: PGDATA
                  volumeMounts:
                      - name: postgres-storage
                        mountPath: /var/lib/postgresql/data
                  resources:
                      requests:
                          cpu: "100m"
                          memory: "256Mi"
                      limits:
                          cpu: "300m"
                          memory: "512Mi"
                  livenessProbe:
                      exec:
                          command:
                              - /bin/sh
                              - -c
                              - pg_isready -U admin -d products
                      initialDelaySeconds: 30
                      periodSeconds: 10
                      timeoutSeconds: 5
                      failureThreshold: 3
                  readinessProbe:
                      exec:
                          command:
                              - /bin/sh
                              - -c
                              - pg_isready -U admin -d products
                      initialDelaySeconds: 10
                      periodSeconds: 5
                      timeoutSeconds: 3
                      failureThreshold: 3
            volumes:
                - name: postgres-storage
                  persistentVolumeClaim:
                      claimName: postgres-pvc
