---
apiVersion: v1
kind: Secret
metadata:
    name: postgres-secret
    namespace: database
type: Opaque
stringData:
    POSTGRES_USER: admin
    POSTGRES_PASSWORD: "123456" # Change this in production!
    POSTGRES_DB: products
