---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: postgres-pvc
    namespace: database
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 4Gi
    # For K3s, use local-path storage class
    storageClassName: local-path
