---
apiVersion: v1
kind: Secret
metadata:
    name: keycloak-secret
    namespace: auth
type: Opaque
stringData:
    KEYCLOAK_ADMIN: admin
    KEYCLOAK_ADMIN_PASSWORD: "admin" # Change this in production!

