---
apiVersion: v1
kind: Service
metadata:
    name: keycloak
    namespace: auth
    labels:
        app: keycloak
        component: authentication
spec:
    type: ClusterIP # Internal only - accessed via Kong Gateway
    ports:
        - port: 8080
          targetPort: 8080
          protocol: TCP
          name: http
    selector:
        app: keycloak
