---
apiVersion: v1
kind: Namespace
metadata:
    name: gateway
    labels:
        name: gateway
        purpose: api-gateway
---
apiVersion: v1
kind: Namespace
metadata:
    name: auth
    labels:
        name: auth
        purpose: authentication
---
apiVersion: v1
kind: Namespace
metadata:
    name: backend
    labels:
        name: backend
        purpose: microservices
---
apiVersion: v1
kind: Namespace
metadata:
    name: database
    labels:
        name: database
        purpose: data-persistence
